/* -- GLOBAL -- */

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'ubuntu';
}

.wrapper {
  width: 80%;
  margin: auto;
  align-items: center;
}

.wrapper h1 {
  text-align: center;
}

.title {
  font-size: 4em;
  color: #3a7fff;
}

.container {
  position: relative;
  width: 60%;
  margin: auto;
  background-color: #f2f2f2;
  padding: 2em;
  border-radius: 0.5em;
  text-align: center;
}

.form-title {
  font-size: 3em;
  color: #3a7fff;
}

.form-field {
  width: 50%;
  margin: 1em 2em;
  font-size: 1.3em;
  padding: 1em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: #ffffff;
}

.form-submit {
  width: 50%;
  margin: 1em 2em;
  font-size: 1.3em;
  padding: 1em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: #3a7fff;
  color: #ffffff;
}

.text {
  color: #000000;
}

.text-error {
  color: #fc6355;
}

.text-success {
  color: #58fc8c;
}

.toggle {
  text-decoration: underline;
  color: #3a7fff;
}

.helper {
  display: none;
}